{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign image = section.settings.image
  assign mobile_image = section.settings.mobile_image
  assign desktop_content_alignment = section.settings.desktop_content_alignment
  assign section_padding_top = section.settings.section_padding_top
  assign color_scheme = section.settings.color_scheme
  assign section_padding_bottom = section.settings.section_padding_bottom
  assign desktop_content_position = section.settings.desktop_content_position
  assign surtitle = section.settings.surtitle
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
-%}

<div
  id="Hero-{{ section.id }}"
  class="hero__content-{{ desktop_content_alignment }} color-{{ color_scheme }} w-full relative desktop:min-h-[650px] desktop:h-[80vh]"
  style="padding-top: {{ section_padding_top }}px; padding-bottom: {{ section_padding_bottom }}px;"
>
  {%- if image != blank -%}
    <div class="hero__image object-cover w-full h-full bg-white">
      {%- render 'lazy-image', image: mobile_image, image_desktop: image -%}
    </div>
  {%- endif -%}

  <div
    class="
      hero__content-wrapper hero__content--{{ desktop_content_position }}
      flex font-roboto bg-white relative h-[320px] justify-center top-0 left-0 text-center desktop:absolute w-full desktop:h-full desktop:bg-transparent
    "
  >
    <div class="content flex flex-col px-24 w-[calc(100vw-32px)] bg-white justify-center relative bottom-[25%] border border-[#d8d8d8] gap-20 desktop:bg-transparent desktop:border-0 desktop:bottom-0 desktop:w-3/5 desktop:gap-40">
      <div class="text-content flex flex-col text-black gap-20 desktop:gap-40">
        <p class="surtitle text-14 font-500 desktop:text-20">{{ surtitle }}</p>
        <h2 class="headline text-black text-36 font-700 desktop:text-80 desktop:max-w-[588px] desktop:mx-auto">
          {{ title }}
        </h2>
        <p>{{ subtitle }}</p>
      </div>
      <div
        class="hero__ctas grid w-full grid-cols-2 gap-20 desktop:flex desktop:justify-center"
      >
        {%- for block in section.blocks -%}
          <a
            {% if block.settings.btn_link == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ block.settings.btn_link }}"
            {% endif %}
            class="button text-white bg-black w-full h-[40px] min-h-auto leading-[40px] text-12 font-700 desktop:text-14 rounded-lg desktop:h-[50px] desktop:w-[150px] desktop:leading-[50px]"
          >
            {{- block.settings.title | escape -}}
          </a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "surtitle",
      "label": "Surtitle",
      "info": "Appears above headline"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "info": "Appears below headline"
    },

    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ],
      "default": "middle-left",
      "label": "Content Position"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section top padding",
      "default": 0,
      "min": 0,
      "max": 65,
      "step": 5
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section bottom padding",
      "default": 0,
      "min": 0,
      "max": 65,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Button",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
